/* Footer.css */

.footer {
    display:flex;
    flex-wrap: wrap;
    width: 100%;
    background:black;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
    font-family: Arial, sans-serif;
   
  }
  
  .footer-content {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .social-icons {
    display: flex;
    gap: 15px;
    margin-top: 10px;
  }
  
  .social-icon {
    color: #ffffff;
    font-size: 20px;
    transition: color 0.3s, transform 0.3s;
  }
  
  .social-icon:hover {
    color: #f31212; /* Change color on hover */
    transform: scale(1.2); /* Slightly enlarge icon on hover */
  }
  